export(ageTMP_status)
export(ageTMP_add_age_class)
export(ageTMP_cpsa_spec)
export(ageTMP_data_sources)
export(ageTMP_derive_age_class)
export(ageTMP_derive_age_class_range)
export(ageTMP_build_age_class_supplement)
export(ageTMP_load_clinical)
export(ageTMP_load_cdisc_clinical)
export(ageTMP_load_cdisc_mutation)
export(ageTMP_load_cdisc_protein_matrix)
export(ageTMP_load_cdisc_rna_matrix)
export(ageTMP_load_cdisc_glyco_matrix)
export(ageTMP_load_discovery_clinical)
export(ageTMP_load_feature_matrix)
export(ageTMP_load_figure1f_ad_tmp_matrix)
export(ageTMP_load_figure1f_survival_annotation)
export(ageTMP_load_glyco_membrane_features)
export(ageTMP_load_reference_clinical)
export(ageTMP_load_reference_mutation)
export(ageTMP_load_reference_protein_matrix)
export(ageTMP_load_protein_trajectory_features)
export(ageTMP_load_trajectory_qc)
export(ageTMP_load_molecular)
export(ageTMP_load_normal_reference)
export(ageTMP_load_supplement)
export(ageTMP_normalize_sample_ids)
export(ageTMP_prepare_cdisc_cpsa_survival)
export(ageTMP_prepare_reference_cpsa_survival)
export(ageTMP_compare_normal_tumor_trajectory)
export(ageTMP_collapse_matrix_by_feature)
export(ageTMP_split_annotation_matrix)
export(ageTMP_fit_tumor_trajectory)
export(ageTMP_predict_tumor_trajectory_matrix)
export(ageTMP_select_dynamic_tmp_features)
export(ageTMP_combine_tmp_matrices)
export(ageTMP_cluster_tmp_samples)
export(ageTMP_summarize_tmp_age_clusters)
export(ageTMP_segment_age_classes)
export(ageTMP_segment_diagnostic_matrix)
export(ageTMP_plot_segment_diagnostic)
export(ageTMP_plot_segment_depth)
export(ageTMP_filter_trajectory_sd)
export(ageTMP_fit_cdisc_protein_cpsa)
export(ageTMP_fit_reference_cpsa)
export(ageTMP_fit_reference_protein_cpsa)
export(ageTMP_build_sa_protein_cdisc)
export(ageTMP_build_sa_protein_reference)
export(ageTMP_build_sa_discovery_cpsa)
export(ageTMP_add_glyco_ped_columns)
export(ageTMP_add_glyco_locfdr_columns)
export(ageTMP_add_glyco_locfdr_by_manuscript_settings)
export(ageTMP_rank_trajectory_sd)
export(ageTMP_build_cdisc_glyco_adjusted_matrix)
export(ageTMP_build_sa_glyco_disc_from_results)
export(ageTMP_extract_glyco_trajectory_terms)
export(ageTMP_glyco_locfdr_settings)
export(ageTMP_prepare_glyco_ado_discovery_survival)
export(ageTMP_prepare_glyco_ado_reference_survival)
export(ageTMP_fit_glyco_ado_cpsa)
export(ageTMP_fit_glyco_ado_cpsa_with_spec)
export(ageTMP_glyco_ado_cpsa_spec)
